header {
   padding: 1px;
   text-align: center;
   background-image: url(https://wallpapercave.com/wp/wp8448698.png);
   color: rgb(182, 223, 221);
   font-size: 350px; 
   font:inherit;
   font-family: 'Rajdhani', sans-serif;
   font-family: 'Roboto Mono', monospace;
   top: 0px;
   left: 1000px;
   padding-bottom: 60px;
   position: fixed;
   margin-left: -1000px;
   width: 1920px;
   height: 110px;
}

#tab {
   text-align: center;
}

html {
   background-color: rgb(114, 128, 134);
}

#searchform {
   text-align: right;
   margin-top: -30px;
   margin-right: 25px;
   
}